/*tipografia*/
@font-face{
    font-family:miofont;
    src:url("../webfont/ufonts.com_tw-cen-mt.ttf") format("truetype");
}
tml{
    font-size: 20px;
}

h1{
    font-size: 1rem;
}

h2{
  font-size: 2rem;/*2 volte la dimensione del tag html*/
}

h2 span{
    font-size: 2em;/*2 volte la dim del genitore h2*/
}

h3{
    font-family: miofont;

}

h4{
   font-variant: small-caps;
   text-align: center;
}
h5{
    text-indent: 30px;
}

p{
    line-height: 2rem;
    letter-spacing: 5px;
    text-shadow: 4px 4px 3px #000, 4px 4px 3px red ;

}