@media screen and (min-width: 320px){
    header{
        display: none;
    }
}
   

@media screen and (min-width: 480px){/*breakpoint ed è il responsive*/
    header{
        
       
        height: 100%;
        border-radius: 50%;
        display: inline-block;
        
    }

    header div img {
        width: 200px;
          
    }
     section{
        padding: 15px 10px 15px 10px;

    }
   
   
}

@media screen and (min-width: 768px){
    header{
        width: 100%;
        height: auto;
        border-radius: 0%;
    }
    aside div{
        width: calc(100% / 3 - 10px);
        display: inline-block;
    }
  section{
    padding-right: 300px;
  }
    table{
        display: inline-block;
        text-align: center;
    }
}

@media screen and (min-width: 1440px){
   header{
        width: 1170px;
            width: 100%;
            height: auto;
            border-radius: 50%;
                      
    }
   
    aside div{
        width: calc(100% / 3 - 10px);
        display: inline-block;
    }
    
   
}



