.area-blocchi{
    margin-top: 300px;
    position: relative;
}

.fascia{
    background-color: #ccc;
    height: 100px;
    border: 1px solid #000;
    margin: 10px 0 ;
    text-align: center;

}

#elemento-relative{
    position: relative;
    top: 0;
    left: 100%;
}

/*z-index*/
.container{
    width: 1000px;
   margin: 0 auto;
   position: relative;
}
.blocco-colorato{
    width: 200px;
    height: 200px;
    border: 1px dashed #000;
    position: absolute;
   
}

.blocco-colorato:nth-of-type(1){
    background-color: red;
    z-index: 1;

}
.blocco-colorato:nth-of-type(2){
    z-index: 2;
    left: 100px;
    top: 100px;
    background-color: yellow;
}
.blocco-colorato:nth-of-type(3){
    z-index: 3;
    left: 300px;
    top: 300px;
    background-color: orange;
}
.blocco-colorato:nth-of-type(4){
    z-index: 4;
    left: 400px;
    top: 400px;
    background-color: blue ;
}
.blocco-colorato:nth-of-type(5){
    z-index: 5;
    left: 500px;
    top: 500px;
    background-color: pink;
}
.blocco-colorato:nth-of-type(6){
    z-index: 6;
    left: 600px;
    top: 600px;
    background-color: purple;
}