/*cubo*/

#area-trasformazione{
    perspective:1000px;
    transform-style: preserve-3d;
    height: 100vh;
}

#cubo{
    transform-style: preserve-3d;
    position: relative;
    margin-left: 200px;
    margin-top: 200px;
    height: 200px;
    width: 200px;
    animation-name: cubo;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes cubo{
    0%{ transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg); }
    50%{ transform: rotateZ(360deg) rotateY(360deg) rotateX(360deg); }
    100%{ transform: rotateZ(0deg) rotateY(0deg) rotateX(0deg); }
}

.faccia{
    background-color:#ccc;
    width: 200px;
    height: 200px;
    position: absolute;
    border: 1px solid #000;
}

#sx{
    left: -200px;
    transform: rotateY(90deg);
    transform-origin: right;
    background-image: url(https://picsum.photos/200/300);
}
#dx{
    right: -200px;
    transform: rotateY(-90deg);
    transform-origin: left;
    background-image: url(https://picsum.photos/200/300);
}
#top{
    top: -200px;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    background-image: url(https://picsum.photos/200/300);
}
#bottom{
    bottom: -200px;
    transform: rotateX(90deg);
    transform-origin: top;
    background-image: url(https://picsum.photos/200/300);
}
#rear{
    background-color:#777;
    background-image: url(https://picsum.photos/200/300);
}
#front{
    transform: translateZ(200px);
    z-index: 1;
    background-image: url(https://picsum.photos/200/300);
}